name: CI

on:
  push:
    branches:
      - master
    paths:
      - 'src/**'
      - 'test/**'

jobs:
  run_tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v1.0.0
      - uses: julia-actions/setup-julia@latest
        with:
          version: 1.4
      - uses: julia-actions/julia-runtest@master
